<h1>Counter</h1>
<hr/>

<div class="row">
	<div data-counter-value></div>
</div>
<hr/>

<div class="row">
	<div class="col-xs-3">
		<button class="btn btn-lg btn-success btn-block" data-inc="5">+5</button>
	</div>
	<div class="col-xs-3">
		<button class="btn btn-lg btn-success btn-block" data-inc>+1</button>
	</div>
	<div class="col-xs-3">
		<button class="btn btn-lg btn-danger btn-block" data-dec>-1</button>
	</div>
	<div class="col-xs-3">
		<button class="btn btn-lg btn-danger btn-block" data-dec="5">-5</button>
	</div>
</div>
<hr/>

<div class="row">
	<form class="form-inline" style="text-align: center;" data-custom-increment>
		<div class="form-group">
			<input type="text" class="form-control input-lg" placeholder="Value">
			</div>
			<button type="submit" class="btn btn-default btn-lg">Increment by value</button>
	</form>
</div>
<hr/>

<div class="row text-center">
	<button class="btn btn-lg btn-default" data-reset>Reset</button>
</div>